{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<head>
  <link type="text/css" rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
</head>
<main class="container-fluid">
  <section class="nosotros">
      <h2 class="nojotros">Nosotros</h2>
      <p>En PixelPlayer, nos apasiona conectar a los
         jugadores con sus experiencias de juego favoritas. 
         Somos una plataforma de comercio electrónico especializada
          en la venta de videojuegos, creada por entusiastas de los
          videojuegos para entusiastas de los videojuegos. 
          Nuestra misión es ofrecer una amplia selección de títulos
           de calidad, desde clásicos nostálgicos hasta los últimos
            lanzamientos, para todas las consolas y plataformas. Más 
            que una tienda en línea, somos un destino donde los 
            jugadores pueden encontrar recomendaciones personalizadas,
             reseñas informativas y una experiencia de compra segura 
             y conveniente. Con un equipo dedicado al desarrollo y
              mantenimiento de nuestra plataforma, nos esforzamos por
               proporcionar una experiencia excepcional a cada 
               cliente, satisfaciendo sus necesidades y superando sus
                expectativas en el emocionante mundo de los videojuegos.</p>


      <p>Somos una empresa que vende videojuegos en nuestra propia página web, la cual hemos desarrollado internamente. Ofrecemos una amplia selección de títulos para todas las plataformas populares y nos esforzamos por brindar una experiencia de compra excepcional, con navegación intuitiva y eventos especiales para nuestra comunidad de jugadores.</p>

      <p></p>
      <p></p>


      <div class="row justify-content-center">
        <div class="col m-4 col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div class="card h-100">
            <img src="{% static 'core/img/moises.avif' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Moises Sanchez</h5>
              <p class="card-text">

                Moises es un estudiante de ingeniería en informática con una pasión innata por la programación. Desde joven, se ha sentido fascinado por la forma en que la tecnología puede transformar el mundo que nos rodea. Con una mente analítica y curiosa, Juan disfruta enfrentándose a desafíos complejos y encontrando soluciones creativas a problemas de software. Fuera de las aulas, le encanta participar en hackatones y proyectos de código abierto, donde puede colaborar con otros entusiastas de la tecnología para desarrollar nuevas aplicaciones y herramientas innovadoras.
              </p>
              <br>
              <a href="correo3@duocuc.cl">moises22@duocuc.cl</a>

            </div>
            
          </div>
        </div>
        <div class="col m-4 col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div class="card h-100">
            <img src="{% static 'core/img/denisse.avif' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Denisse Coilla</h5>
              <p class="card-text">

              </p>Denisse es una estudiante de ingeniería en informática con una mente brillante y una determinación inquebrantable. Apasionada por la inteligencia artificial y la ciberseguridad, María se destaca en su capacidad para analizar y resolver problemas complejos de manera efectiva. Además de sobresalir en sus estudios, María se dedica a promover la diversidad de género en STEM y a inspirar a otras mujeres a seguir carreras en tecnología. Como mentora y líder estudiantil, María trabaja para crear un entorno inclusivo donde todos puedan prosperar y alcanzar su máximo potencial en el campo de la informática.
              <br>
              <a href="correo3@duocuc.cl">Denisse112@duocuc.cl</a>

            </div>
            
          </div>
        </div>
        <div class="col m-4 col-sm-12 col-md-6 col-lg-4 col-xl-2">
          <div class="card h-100">
            <img src="{% static 'core/img/yohan.avif' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Yohan Araya</h5>
              <p class="card-text">

                Yohan es un estudiante de ingeniería en informática que combina su amor por la tecnología con su pasión por el emprendimiento. Desde que era adolescente, Yohan ha estado experimentando con la creación de sus propias aplicaciones y sitios web. Su enfoque práctico y orientado a resultados lo ha llevado a fundar su propia startup durante sus años universitarios, donde trabaja en el desarrollo de soluciones tecnológicas disruptivas. Con una mentalidad empresarial y habilidades técnicas sólidas, Yohan está decidido a marcar una diferencia en el mundo de la tecnología.
              </p>
              <br>
              <a href="correo3@duocuc.cl">yohan22@duocuc.cl</a>

            </div>
            
          </div>
        </div>
      </div>
    
  </section>
</main>
    
{% endblock content %}