{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container-fluid">
    <form id="form" method="POST" enctype="multipart/form-data" style="display: none;">
      <h1>Completa los datos para crear tu cuenta de cliente</h1>
      {% csrf_token %}
    
      <div class="row">

        <!-- AREA DE DATOS BASICOS: username, nombre, apellidos, correo y contraseñas -->
        <div class="col-sm-12 col-md-4">
          {{ form_usuario|as_bootstrap_form:'help_text_visible=False' }}
        </div>

        <!-- AREA DE DATOS DE PERFIL: rut, dirección y subscrito (VER COMENTARIO "CHECKBOX SUBSCRITO" en script.js)  -->
        <div class="col-sm-12 col-md-5">
          {{form_perfil|as_bootstrap_form }}
        </div>

        <!-- AREA DE IMAGEN DE PERFIL -->
        <div class="col-sm-12 col-md-3 text-center">
          <div class="row">
            <!-- AREA DE CUADRO DE IMAGEN: Muestra la Imagen de perfil -->
            <div class="col-sm-12" style="height: 220px">
              <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
            </div>
          </div>
        </div>
      </div>

      <!-- AREA DE BOTONES -->
      <div class="mt-2 mb-3 text-center">
        <button type="submit"> Registrarme </button>
      
        <!-- Boton para "Limpiar formulario" (VER COMENTARIO "BOTON LIMPIAR FORMULARIO" en script.js) -->
        <button type="reset" id="limpiar_formulario"> Limpiar </button>
      
        <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
        <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  
      
        <!-- Botón para "Crear usuario de prueba" (VER COMENTARIO "CREAR USUARIO DE PRUEBA" en registrarme.js) -->
        <button id="crear_usuario_prueba"> Crear usuario de prueba </button>
      </div>
    
    </form>
    
    {% endblock content %}
  </div>
</div>

{% block script %}
  <script src="{% static 'core/js/registrarme.js' %}"></script>
{% endblock script %}
